@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --subColor1: #F5EEE6;
  --subColor1: #FFF8E3;
  --subColor2: #F3D7CA;
  --subColor3: #E6A4B4;
  --subColor4: #D14D72;
  --subColor5: #67729D;
  --subColor6: #F49700;
  --hilightColor1: #F6465F;
  --hilightColor2: #ED4043;
  --borderColor1: #C70000;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: ;
    --background-start-rgb: ;
    --background-end-rgb: ;
  }
}

body {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}