@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --baseColor: #F5EEE6;
  --subColor1: #FFF8E3;
  --subColor2: #F3D7CA;
  --subColor3: #E6A4B4;
  --subColor4: #D14D72;
  --subColor5: #67729D;
  --subColor6: #F49700;
  --subColor7: #FCCCD4; 
  --subColor8: #D62E4C;
  --highlightColor1: #F6465F;
  --highlightColor2: #ED4043;
  --borderColor1: #C70000;
  --borderColor2:#E0C3AE;
  --titleColor: #784B31;
  --contentColor: #B6856A;
  --white: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

em {color: white}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: ;
    --background-start-rgb: ;
    --background-end-rgb: ;
  }
}

body {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}